*{
    padding: 0;
    margin: 0;
}
#di1 {
    height: 65px;
    background-color : #0f1111;
}

a{
    margin-right: 130px;
    color: white;
}

button {
    background-color : #f08804;

}

.contentbox {
    height : 100px;
    width : 100px;
    border : 3px dashed #0499f0;
    /* margin-top: 10px; */
    display: inline-block;
}

#content {
    margin : 100px;
    /* this is big as much as required */
}

footer {
    background-color: #0f1111;
    color : white;
    text-align : center;
}