*{
    text-align: center;
}

.cls {
    height : 100px;
    width : 100px;
    display: inline ; 
    border : 2px solid black;
}
#container {
    height: 200px;
    width: 800px;
    border : 2px solid black;

/*->wehn we use this flex-box boxes which was in the container they can not come out of the box
-> when we increase the size of the box that time box is decrease it's size automatically it self as much as required
-> when we change the print right to left it will change the direction 
*/
    display : flex;
    flex-direction : row;  /*this is by-default*/
    /* box1 to box 5 print in this direaction*/
    /*row:-left->right, row-reverse:-left->right, column:-top->bottom, column-reverse:-bottom->top*/

    justify-content: right;     /*move all box to right but not change the direction*/
    justify-content: space-around; /*we have three option space-around,space-between,space-evenly*/

/* it will same as in column*/

    
}


#box1 {background-color: aqua;}
#box2 {background-color: pink;}
#box3 {background-color: darkkhaki;}
#box4 {background-color: indianred;}
#box5 {background-color: slateblue;}

/********************************************************************************/

.cls2 {
    height : 100px;
    width : 150px;
    display : inline-block;
    border : 3px solid black;
}
#container2 {
    height: 400px;
    width: 600px;
    border : 2px solid black;
    display : flex;
    /*this worls on the main axis*/
    flex-direction : row;  /* here we write row so x-axis is main axis adn y axis is cross axis*/
    justify-content: center;     
    flex-wrap: wrap;

    /* align-center and align-content are work on cross axis*/
    align-items: center;    /*with this line cross line can pass from the center throw all the elements*/
    /*align-content: center;*/    /* with this line all the element will at center */
        /* we have more option like flex-start and flex-end*/

}

#box21 {background-color: aqua;}
#box22 {background-color: pink;
height : 150px;}
#box23 {background-color: darkkhaki;
height : 75px;}
#box24 {background-color: indianred;}
#box25 {background-color: slateblue;
align-self: flex-end; /*align-self has highest priority*/
                        /*this line movwe the box at the end of the container*/
}

/*****************************************************************************/

.cls3 {
    height : 100px;
    width : 70px;
    display : inline-block;
    border : 3px solid black;
}
#container3 {
    height: 400px;
    width: 600px;
    border : 2px solid black;
    display : flex;

    flex-direction : row;  
    justify-content: center;     
}

#box31 {background-color: aqua;}
#box32 {background-color: pink;
height : 150px;
flex-grow: 1;/*when the element has extra space to grow at that time box will increase*/
}
#box33 {background-color: darkkhaki;
height : 75px;
flex-grow: 2;    /*if the value is 2 it will increse two time then ohter*/
}
#box34 {background-color: indianred;
flex-grow: 3;}
/*same rpocess will happen when the element will shrink to fit in the comtiner st that we can use 'flxe-shrink' */
/*same process will happen for flex-shrink*/
#box35 {background-color: slateblue;}



@media (width : 325px) {   /* this will work when widt is exact 600px*/
    div {
        background-color: rgb(255, 225, 0);
    }
}

 @media (min-width : 500px) {    /*this will work when width is 500px or high */
    div {
        background-color: rgba(129, 7, 7, 0.595);
    }
}

@media (max-width : 300px){     /*this wiil work when width is 300px or less*/
    div {
        background-color :turquoise ;
    }
}
 
@media (min-width : 350px) and (max-width : 450px) {
    div { 
        background-color :deeppink;
    }
}